[Back to Home](olevel-python.netlify.app)

<h2 style="color: red;">Table of Content</h2>

1. **[+,*,/ operator for string type](#+-operator-for-string-type)**
3. **[Relational Operator or comparison operator](#Relational-Operator-or-comparison-operator)**
4. **[A program to check given is name is valid or not](#A-program-to-check-given-is-name-is-valid-or-not)**

<hr>

## + operator for string type

In [6]:
print(3+7)
#print(3+"7") #error
print(str(3) + "7")

print(3 + int("7"))
print("3" + "7")

10
37
10
37

## * operator for string type

In [7]:
print(3*5)
print(3*"5")
print("3"*5)
#print("3"*"5") #error
print("------")
print(True*False)
print("True"*False)
print(True*"False")
#print("True"*"False")#error

15
555
33333
------
0

False

## / Operator for arithmatic operation

In [8]:
#print(3/0)#zeroDivisionError
print(0/3)
#print("3"/0)
#print(0/"apple")

print(5//3) 
print(5%3)

0.0
1
2

# Relational Operator or comparison operator

In [9]:
a = 5
b = 9
print(f"a==b ---> {a==b}")
print(f"a!=b ---> {a!=b}")
print(f"a>b ---> {a>b}")
print(f"a>=b ---> {a>=b}")
print(f"a<b ---> {a<b}")
print(f"a<=b ---> {a<=b}")

a==b ---> False
a!=b ---> True
a>b ---> False
a>=b ---> False
a<b ---> True
a<=b ---> True

<hr>

## A program to check given is name is valid or not

**ASCII Value**<br>

a-z = 97-122 <br>
A-Z = 65-90 <br>
space  = 32

In [ ]:
name = input("Enter your name: ")
isValid = False
for i in name:
    if ord(i)>=97 and ord(i)<=122:
        isValid = True
    elif ord(i)>=65 and ord(i)<=90:
        isValid = True
    elif ord(i)==32:
        isValid = True
    else:
        isValid = False
if isValid == True:
    print("Name is acceptable")
else:
    print("Name is not acceptable")

## Tricky Questions

**Primitive**
Immutable - can not change once assign value

**Non Primitive**
mutable - can change

### Question 1

In [7]:
a = 20
b = a #20
b = 30 
print(a)
print(b)

20
30
{'name': 'Piyush', 'age': 40}
{'name': 'Piyush', 'age': 40}
{'name': 'Piyush', 'age': 40}

### Question 2

In [ ]:
person1 = {
    "name": "Ram",
    "age" : 21
}
person2 = person1
person2["name"] = "Piyush"

person3 = person1
person3["age"]= 40

print(person1)
print(person2)
print(person3)

### Question 3

In [15]:
a = 0.25
b = 0.25
print(a+b == 0.5)

c = 0.2
d = 0.1
print(c+d == 0.3)

True
False