[Back to Home](hpps://www.olevel-python.netlify.app)

<h2 style="color: red;">Table of Content</h2>

1. **[+,*,/ operator for string type](#+-operator-for-string-type)**
3. **[Relational Operator or comparison operator](#Relational-Operator-or-comparison-operator)**
4. **[A program to check given is name is valid or not](#A-program-to-check-given-is-name-is-valid-or-not)**
5. **[Tricky Questions](#tricky-questions)**
6. **[Relational operators chaining](#Relational-operators-chaining)**
7. **[Equality Operator](#Equality-Operator)**
8. **[== and is operator](#==-and-is-operator)**
9. **[Assignment operator](#Assignment-operator)**
10. **[Logical operator](#Logical-operator)**
10. **[Bitwise operator](#Bitwise-Operator)**
11. **[Membership Operator](#Membership-Operator)**
11. **[Precedence](#Precedence)**
11. **[Conditional Statement](#Conditional-Statement)**
11. **[While Loop](#While-Loop)**
11. **[Pass, Break, Continue](#Pass,-Break,-Continue)**

<hr>

## + operator for string type

In [25]:
print(3+7)
#print(3+"7") #error
print(str(3) + "7")

print(3 + int("7"))
print("3" + "7")

10
37
10
37

## * operator for string type

In [26]:
print(3*5)
print(3*"5")
print("3"*5)
#print("3"*"5") #error
print("------")
print(True*False)
print("True"*False)
print(True*"False")
#print("True"*"False")#error

15
555
33333
------
0

False

## / Operator for arithmatic operation

In [27]:
#print(3/0)#zeroDivisionError
print(0/3)
#print("3"/0)
#print(0/"apple")

print(5//3) 
print(5%3)

0.0
1
2

# Relational Operator or comparison operator

In [28]:
a = 5
b = 9
print(f"a==b ---> {a==b}")
print(f"a!=b ---> {a!=b}")
print(f"a>b ---> {a>b}")
print(f"a>=b ---> {a>=b}")
print(f"a<b ---> {a<b}")
print(f"a<=b ---> {a<=b}")

a==b ---> False
a!=b ---> True
a>b ---> False
a>=b ---> False
a<b ---> True
a<=b ---> True

<hr>

## A program to check given is name is valid or not

**ASCII Value**<br>

a-z = 97-122 <br>
A-Z = 65-90 <br>
space  = 32

In [29]:
name = input("Enter your name: ")
isValid = False
for i in name:
    if ord(i)>=97 and ord(i)<=122:
        isValid = True
    elif ord(i)>=65 and ord(i)<=90:
        isValid = True
    elif ord(i)==32:
        isValid = True
    else:
        isValid = False
if isValid == True:
    print("Name is acceptable")
else:
    print("Name is not acceptable")

Name is acceptable

## Tricky Questions

**Primitive**
Immutable - can not change once assign value

**Non Primitive**
mutable - can change

### Question 1

In [30]:
a = 20
b = a #20
b = 30 
print(a)
print(b)

20
30

### Question 2

In [31]:
person1 = {
    "name": "Ram",
    "age" : 21
}
person2 = person1
person2["name"] = "Piyush"

person3 = person1
person3["age"]= 40

print(person1)
print(person2)
print(person3)

{'name': 'Piyush', 'age': 40}
{'name': 'Piyush', 'age': 40}
{'name': 'Piyush', 'age': 40}

### Question 3

In [32]:
a = 0.25
b = 0.25
print(a+b == 0.5)

c = 0.2
d = 0.1
print(c+d == 0.3)

True
False

## Relational operators chaining

In [33]:
a = 8
b = 4
c = 2
d = 3
print(a<b<c<d) 
print(a>b>c<d)
#8>4>2<3
#true true true
print(b<d>a<c)
#4<3>8<2
#false false false

False
True
False

## Equality Operator

== checks value and data type both

In [34]:
a = 4
b = 9
c = "4"
print(c==a)
print(a==b)
print(a==a)
print(a!=b)
print(b!=b)

False
False
True
True
False

## == and is operator

== checks value same or not <br>
is checks memory same or not

In [35]:
a = 9
b = 9
a = 3
print(a == b)
print(a is b)

False
False

In [36]:
a = [1,2,3]
b = [1,2,3]
print(a==b)
print(a is b)
print(id(a))
print(id(b))

True
False
2048426066496
2048425800896

## Assignment operator

In [37]:
a = 4
a+=3  #a = a+3   7
a-=3  #a = a-3    4
a*=3  #a = a*3    12
a/=3  #a = a/3    4.0
a//=3 #a = a//3    1.0//3
a%=3  #a = a%3     1%3
a**=3 #a = a**3   1.0**3

print(a)

1.0

## Logical operator

In [38]:
a = True
b = False
print(a & b)
print(a | b)
print(not a)
print(not b & a)
print(not b & a | b)
# not>&>|

False
True
False
True
True

## Bitwise Operator

### And Bitwise Operator

| A | B | Result |
|---|---|---------|
| 0 | 0 |   0     |
| 0 | 1 |   0     |
| 1 | 0 |   0     |
| 1 | 1 |   1     |

In [39]:
print(2 & 3)
#0010  ---> 2
#0011  ---> 3
#--------------
#0010  ---> 2

print(15&16)

#01111  ---> 15
#10000  ---> 16
#------------------
#00000  ---> 0

print(64&46)
#1000000   ---> 64
#0101110   ---> 46
#-------------------
#0000000   ----> 0

2
0
0

### OR Bitwise operator

| A | B | Result |
|---|---|---------|
| 0 | 0 |   0     |
| 0 | 1 |   1     |
| 1 | 0 |   1     |
| 1 | 1 |   1     |

In [40]:
print(15|12)
#1111 ---> 15
#1100 ---> 12
#--------------
#1111 ---> 15

print(32|32)
#100000  ---> 32
#100000  ---> 32
#---------------
#100000  ---> 32

print(80|8)
#1010000 ---> 80
#0001000 ---> 8
#--------------
#1011000 ---> 88

15
32
88

In [41]:
print(bin(80)) #dec 2 bin
print(0b1010000) # bin 2 dec

0b1010000
80

### XOR Table

| A | B | Result |
|---|---|---------|
| 0 | 0 |   0     |
| 0 | 1 |   1     |
| 1 | 0 |   1     |
| 1 | 1 |   0     |

In [42]:
print(4^2)
#0100  ---> 4
#0010  ---> 2
#------------
#0110  ---> 6

6

### One's Compliment (Not)

-(num+1)

In [43]:
print(~4)
print(~-8)

-5
7

### right shift operator

In [44]:
print(3>>2)

#0011  ---> 3
#0000  ---- 0 (result)
print(30>>3)
#11110 ---> 30
#00011  ---> 3 (result)

0
3

In [45]:
bin(30)

'0b11110'

## Membership Operator

(in, not in)

In [46]:
name = "Rahul"
print("R" in name)
print("h" in name)
print("m" in name)

print("A" not in name)
print("u" not in name)

True
True
False
True
False

#### Create a python program to check <br> user write their sirname(lastname) or not

Ram - Please enter your sir name <br>
Ram Singh - Hello Mr./Mrs. {Singh} (use ---> find(), slicing)

In [7]:
name = input("Enter Your name: ") #ram  
if " " in name:
    s = name.find(" ")
    if len(name[s:])==1:
        print("Jyada Hoshiyari nhi dikhao")
    else:
        print("Hello Mr./Mrs.",name[3:])
else:
    print("Please Enter your Full Name")

Enter Your name:  ram a

Hello Mr./Mrs.  a

In [47]:
"Rima".find("m")

2

## Precedence

In [48]:
4*7-4/2+5-1
BODMAS
Bracket
Order(power)
Division
Multiply
Addtition
Subtration


पहले का(कोष्ठक) को तोड़िए, ता पीछे दे भाग  |
गुणा तोड़ धन जोड़िए, ऋण को देव घटाय ||

SyntaxError: invalid syntax (3281085816.py, line 11)

In [ ]:
5+6*(2-1)**2
=> 5+6*1**2
=> 5+6*1
=> 5+6

11

In [ ]:
print(4 * (3 + 2) ** 2 - 10 / 5)

print(15 - (2 + 3) * 4 ** 2)

print(8 + 6 / (2 ** 2) - 1)

print((10 - 3) ** 2 + 5 * 2)

print(20 / (2 + 3) + (4 - 1) ** 3)

98.0
-65
8.5
59
31.0

## Conditional Statement

### if else

In [ ]:
isRaining = input("Enter Rain status:(yes,no or y ,n)").lower()
if isRaining == "yes" or isRaining == "y":
    print("School ki chuttiiiiiii")
else:
    print("Bhag jao School me")

Enter Rain status:(yes,no or y ,n) sdfse

Bhag jao School me

## if elif else

![](img/passCondition.png)

In [ ]:
ptg = int(input("Enter Your percentage: "))
grade = ""
if ptg>=85:
    grade = "S"
elif ptg>=75 and ptg<85:
    grade = "A"
elif ptg>=65 and ptg<75:
    grade = "B"
elif ptg>=55 and ptg<65:
    grade = "C"
elif ptg>=50 and ptg<55:
    grade = "D"
else:
    grade = "F"
print(f"Your grade is {grade}")

Enter Your percentage:  345

Your grade is S

### Nested if else

In [ ]:
haveVoter = (input("HaveID(True/False): ")
age = 12
if age>=18:
    if haveVoter=="True":
        print("Ayiiio welcome ji welcome, You are Eligible")
    else:
        print("You are adult but you have not Voter ID")
else:
    print("Hey Kid, Go and Play cricket")

Hey Kid, Go and Play cricket

# While Loop

In [2]:
#print 1 - 10
i = 1 #start point
while i<=10:  #condition
    print(i)
    i+=1 #increment


#print 10 - 1
k = 10  #start point
while k >=-10: #condition
    print(k)
    k-=1 #decrement

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

## Repeat number of self time

1 <br>
22 <br>
333 <br>
4444 <br>
55555 <br>

In [19]:

i = 1 
while i<10:  
    print(str(i)*i)
    i+=1 

k = 9 
while k>0:  
    print(str(k)*k)
    k-=1

1
22
333
4444
55555
666666
7777777
88888888
999999999
999999999
88888888
7777777
666666
55555
4444
333
22
1

In [13]:
'Hello '*8

'Hello Hello Hello Hello Hello Hello Hello Hello '

In [15]:
"2"*2

'22'

# Program to find sum of n natural number (page 156)

In [ ]:
15
1+2+3........+15
3

In [20]:
i = 1
total = 0
while i <= 15:
    total = total+i

_IncompleteInputError: incomplete input (4174209489.py, line 2)

## Pass, Break, Continue

In [3]:
i = 2
while i<=50:
    #print(i)
    if i==10:
        break
    i+=2

print("---------------------------")
k= 1
while k <= 5:
    if k==3:
        k+=1
        continue
    else:
        print(k) 
        k+=1
print("---------------------------")

        

a = 5
if a ==4:
    pass
else:
    print("B")

---------------------------
1
2
4
5
---------------------------
B

## While loop  with else

In [11]:
a = 1
while a<=5:
    print(a)
    a+=1
    if a==7:
        print("Mujhe forefully break kiya")
        break
else:
    print("All Iterations completed")

1
2
3
4
5
All Iterations completed

In [16]:
num = 32
a = 2
while a<num: #2-10
    if num%a==0:
        print("Not Prime")
        break
    a+=1
else:
    print("Prime")

Not Prime