[Back to Home](hpps://www.olevel-python.netlify.app)

<h2 style="color: red;">Table of Content</h2>

1. **[+,*,/ operator for string type](#+-operator-for-string-type)**
3. **[Relational Operator or comparison operator](#Relational-Operator-or-comparison-operator)**
4. **[A program to check given is name is valid or not](#A-program-to-check-given-is-name-is-valid-or-not)**
5. **[Tricky Questions](#tricky-questions)**
6. **[Relational operators chaining](#Relational-operators-chaining)**
7. **[Equality Operator](#Equality-Operator)**
8. **[== and is operator](#==-and-is-operator)**
9. **[Assignment operator](#Assignment-operator)**
10. **[Logical operator](#Logical-operator)**
10. **[Bitwise operator](#Bitwise-Operator)**

<hr>

## + operator for string type

In [6]:
print(3+7)
#print(3+"7") #error
print(str(3) + "7")

print(3 + int("7"))
print("3" + "7")

10
37
10
37

## * operator for string type

In [7]:
print(3*5)
print(3*"5")
print("3"*5)
#print("3"*"5") #error
print("------")
print(True*False)
print("True"*False)
print(True*"False")
#print("True"*"False")#error

15
555
33333
------
0

False

## / Operator for arithmatic operation

In [8]:
#print(3/0)#zeroDivisionError
print(0/3)
#print("3"/0)
#print(0/"apple")

print(5//3) 
print(5%3)

0.0
1
2

# Relational Operator or comparison operator

In [9]:
a = 5
b = 9
print(f"a==b ---> {a==b}")
print(f"a!=b ---> {a!=b}")
print(f"a>b ---> {a>b}")
print(f"a>=b ---> {a>=b}")
print(f"a<b ---> {a<b}")
print(f"a<=b ---> {a<=b}")

a==b ---> False
a!=b ---> True
a>b ---> False
a>=b ---> False
a<b ---> True
a<=b ---> True

<hr>

## A program to check given is name is valid or not

**ASCII Value**<br>

a-z = 97-122 <br>
A-Z = 65-90 <br>
space  = 32

In [ ]:
name = input("Enter your name: ")
isValid = False
for i in name:
    if ord(i)>=97 and ord(i)<=122:
        isValid = True
    elif ord(i)>=65 and ord(i)<=90:
        isValid = True
    elif ord(i)==32:
        isValid = True
    else:
        isValid = False
if isValid == True:
    print("Name is acceptable")
else:
    print("Name is not acceptable")

## Tricky Questions

**Primitive**
Immutable - can not change once assign value

**Non Primitive**
mutable - can change

### Question 1

In [7]:
a = 20
b = a #20
b = 30 
print(a)
print(b)

20
30
{'name': 'Piyush', 'age': 40}
{'name': 'Piyush', 'age': 40}
{'name': 'Piyush', 'age': 40}

### Question 2

In [ ]:
person1 = {
    "name": "Ram",
    "age" : 21
}
person2 = person1
person2["name"] = "Piyush"

person3 = person1
person3["age"]= 40

print(person1)
print(person2)
print(person3)

### Question 3

In [15]:
a = 0.25
b = 0.25
print(a+b == 0.5)

c = 0.2
d = 0.1
print(c+d == 0.3)

True
False

## Relational operators chaining

In [8]:
a = 8
b = 4
c = 2
d = 3
print(a<b<c<d) 
print(a>b>c<d)
#8>4>2<3
#true true true
print(b<d>a<c)
#4<3>8<2
#false false false

False
True
False

## Equality Operator

== checks value and data type both

In [10]:
a = 4
b = 9
c = "4"
print(c==a)
print(a==b)
print(a==a)
print(a!=b)
print(b!=b)

False
False
True
True
False

## == and is operator

== checks value same or not <br>
is checks memory same or not

In [17]:
a = 9
b = 9
a = 3
print(a == b)
print(a is b)

False
False

In [24]:
a = [1,2,3]
b = [1,2,3]
print(a==b)
print(a is b)
print(id(a))
print(id(b))

True
True
2379961400640
2379961400640

## Assignment operator

In [40]:
a = 4
a+=3  #a = a+3   7
a-=3  #a = a-3    4
a*=3  #a = a*3    12
a/=3  #a = a/3    4.0
a//=3 #a = a//3    1.0//3
a%=3  #a = a%3     1%3
a**=3 #a = a**3   1.0**3

print(a)

1.0

## Logical operator

In [49]:
a = True
b = False
print(a & b)
print(a | b)
print(not a)
print(not b & a)
print(not b & a | b)
# not>&>|

False
True
False
True
True

## Bitwise Operator

### And Bitwise Operator

A     B     Result
-------------------
0     0       0
0     1       0
1     0       0
1     1       1

In [3]:
print(2 & 3)
#0010  ---> 2
#0011  ---> 3
#--------------
#0010  ---> 2

print(15&16)

#01111  ---> 15
#10000  ---> 16
#------------------
#00000  ---> 0

print(64&46)
#1000000   ---> 64
#0101110   ---> 46
#-------------------
#0000000   ----> 0

2
0
0

### OR Bitwise operator

A     B     Result
-------------------
0     0       0
0     1       1
1     0       1
1     1       1

In [ ]:
print(15|12)
#1111 ---> 15
#1100 ---> 12
#--------------
#1111 ---> 15

print(32|32)
#100000  ---> 32
#100000  ---> 32
#---------------
#100000  ---> 32

print(80|8)
#1010000 ---> 80
#0001000 ---> 8
#--------------
#1011000 ---> 88

In [6]:
print(bin(80)) #dec 2 bin
print(0b1010000) # bin 2 dec

0b1010000
80

### XOR Table

In [ ]:
A     B     Result
-------------------
0     0       0
0     1       1
1     0       1
1     1       0

In [7]:
print(4^2)
#0100  ---> 4
#0010  ---> 2
#------------
#0110  ---> 6

6

### One's Compliment (Not)

-(num+1)

In [10]:
print(~4)
print(~-8)

-5
7

### right shift operator

In [19]:
print(3>>2)

#0011  ---> 3
#0000  ---- 0 (result)
print(30>>3)
#11110 ---> 30
#00011  ---> 3 (result)

0
3

In [13]:
bin(30)

'0b11110'