# Table of contents

1. **[List](#List)**
2. **[Quetion 43 and 48 From ch3](#Quetion-43-and-48-From-ch3)**
3. **[The main properties of List](#The-main-properties-of-List)**
4. **[Tuples](#Tuples)**
5. **[Dictionary](#Dictionary)**
5. **[Fruit Shop](#Fruit-Shop)**

## List

- Store multiple values
- Ordered
- Indexing Possible

**Immutable -int, float, bool, string**

In [ ]:
a = "Hello"
print(a,id(a))

a = "chalo"
print(a,id(a))

a = "world"
print(a,id(a))

In [ ]:
person = {
  
  "name": "Ram Kumar",
  "age": 31,
  "email": "ram.pythondev@example.com",
  "city": "Bangalore",
  "profession": "Python Developer",
  "skills": {
      "coding" : True,
      "typing": False,
  },
  "experience_years": 8,
  "favourite_editor": "VS Code",
  "current_project": "AI Chatbot using FastAPI",
  "favourite_quote": "Simple is better than complex."

}
person["skills"]['typing'] = True
print(person["skills"])

In [ ]:
a = 5
b = 5

print(b)
print(id(a))
print(id(b))

In [ ]:
x = 23.45
#print("%-09d"%x)
print("%06d"  %x) #digit 
print("%06f"  %x) #float
print("%06s"   %x) #string

In [ ]:
x = 23.45
#print("%-09d"%x)
print("%06d"  %x) #digit 
print("%06f"  %x) #float
print("%06s"   %x) #string

# Quetion 43 and 48 From ch3

## The main properties of List

In [ ]:
#insertion order
a  = [5,6,7]
print("a = ", a)

#duplicate values are allowed
b = [5,3,5,3,8]
print("b = ", b)

#Heterogeneous items विविधता (अलग-अलग)

c = ["ram", 8, 47.6, 9+6j, True]
print("c = ", c)

#indexing possible
d = [4,6,7,"RamKrishna"]
print(d[3][3:])
# indexing - list
#slicing  - string(list item)


#slicing list
e = [4,5,9,1]
print(e[1:])

## list update functions

### Append, extend

In [ ]:
fruits = ['Apple','Banana','Kiwi']
fruits.append('papaya')
fruits.append('mango') #for one item addition 

fruits.extend(['guvava', 'lemon','grapes'])  #add many items
print(fruits)

### insert

In [ ]:
vegs = ['potato','tomato']
vegs.insert(1,'Coriander')
print(vegs)

### Remove

In [ ]:
phones = ['oppo','vivo','micromax','xiaomi']
phones.remove('micromax')
print(phones)

In [ ]:
laptop =['hp','dell','acer','nokia','mango']
laptop.pop(0) #remove last item, index (-1)
#if give index then remove index item
print(laptop)

In [ ]:
laptop.clear()
print(laptop)

In [ ]:
del laptop
print(laptop)

In [ ]:
## Grocery Billing system

In [ ]:
numOfItems = int(input("How many different items you want to buy: "))
items = []
qtys = []
prices=[]
for i in range(1,numOfItems+1):
    print(f"Enter Item {i} detail")
    itemName = input("Item Name: ").lower()
    items.append(itemName)
    qty =  float(input("Enter Qty: "))
    qtys.append(qty)
    price =  float(input("Enter price: "))
    prices.append(price)
    print("======Added successfully======")
print("Item    Qty    Price    Total")
print("------------------------------")

i = items[0]
q = qtys[0]
p = prices[0]
print(f"{i}    {q}    {p}    {q*p}")

## Ordering Element of List

In [ ]:
a = [4,3,6,9,1]
a.sort() #assending order
#a.sort(reverse=True)
print(a)

In [ ]:
b = [4,3,5,1,2]
c = sorted(b)
c = sorted(b,reverse=True)
print(c)

In [ ]:
s = [4,3,8,6,1]
s.reverse()
print(s)

# t = reversed(s)
# for i in t:
#     print(i)

In [ ]:
s= [4,5,6,7]
print(max(s))
print(min(s))

In [ ]:
f = ["apple","banana","date","apple","chery"]
print(f.count('date'))
f.sort(reverse=True)
print(f)

In [ ]:
s = [4,4,5,6,4,7,4]
print(s.index(6))

In [ ]:
## Using mathematical operators

In [ ]:
x = [4,5,6]
y = [5,2,1]
z = [4,1]
print(x+y+z)
print(x*4)

In [ ]:
x = [1,2]
y = [3,4]
print(x==y)#false
print(x!=y) #true
print(x>y) #false
print(x<y) #true

In [ ]:
x = [4,3,8]
print(3 in x)
print(3 not in x)

In [ ]:
#nested list
x = [4,  [6,8],  [[3,4],9]]
print(x[2][0][0])

# Tuples

In [ ]:
a = (7,6,-4)


#orederd  - indexed
#unchangeable
#allow duplicate value

In [ ]:
print(a)

In [ ]:
print(a[2])

In [ ]:
a = ["ram",4,9.0]
print(a)

a = tuple(a)
print(a)

b = 5,4,3,"ram"
print(b)

In [ ]:
a = [4,"yoyo",9.3,8+9j,True]
print(a)

In [ ]:
x = ("ram","shyam")
x.remove("ram")
print(x)

In [ ]:
a = sum(range(1,11))
b= list(range(1,11))
c = tuple(range(1,11))
d = set(range(1,11))

e = tuple(range(1,22,4))
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
 print(sum([1,2,3]))

In [ ]:
#del keyword      
a = (7,4,3)
del a
print(a)

In [ ]:
#conacatenation
a = (3,4,6)
b = (7,8)
print(a+b)

In [ ]:
#packing
a = 6
b = 3
c = 9
d = 1

rollNo = (b,a,c,d)

print(rollNo)

In [ ]:
#unpacking
pinCode = (2,1,1,0,0,8)
a,b,c,d,e,f = pinCode

print(f)

In [ ]:
#tuple functions
a = (3,4,8,2,9,1,4,8)
print(a.count(4))
print(a.index(1))
print(max(a))
print(min(a))
print(len(a))

In [ ]:
#Tuple comprehension

In [ ]:
sqOfNum = (x**2 for x in range(1,6))
for i in sqOfNum:
    print(i)
#1 4 9 16 25

## Dictionary

In [ ]:
#key value
#duplicate keys overwrite
#duplicate values allowed(not overwrite)
#version 3.7 ==> dictionaries are ordered
#version 3.6 ==> dictionaries are unordered.
#mutable
#no indexing slicing

person = {
    'name':'ram',
    'age':35,
    'adr':'naini',
    'nickname':'ram'
}
print(person)


solar_system = {
    'p1': 'Mercury',
    'p2': 'Venus',
    'p3': 'Earth',
    'p4': 'Mars',
    'p5': 'Jupiter',
    'p6': 'Saturn',
    'p7': 'Uranus',
    'p8': 'Neptune'
}
print(solar_system)

In [ ]:
adr = dict() #empty
adr["street"] = "naini"
adr["city"] = "PRJ"
adr["Pin Code"] = 211008
print(adr)
#Accessing values
#Tarika 1
print(adr["city"])
print(adr["street"])

#Tarika 2
k = list(adr)
#['street','city','Pin Code']

print(adr[k[2]])

In [ ]:
fruitShop = {
    "mango": 30,
    "kiwi":90,
    "apple":100,
    "lemon": 30,
    "orange":50
}
userWant = "Orane".lower()
for k in fruitShop:
    if userWant==k:
        print(fruitShop[userWant])
        break
else:
    print(f"{userWant} is not currently available")

In [ ]:
a = {
   "x": 1,
    "y": 2,
    "z": 3
}
for k in a:
    print(k)

    
print(a.keys())
print(a.values())

# Fruit Shop

In [ ]:
#SHOP
# Predefined fruit price list
fruit_shop = {
    "mango": 30,
    "kiwi": 90,
    "apple": 100,
    "lemon": 30,
    "orange": 50
}

# Lists to store cart details
cart_items = []
quantities = []

# User input loop
repeat = "y"
while repeat == "y":
    item_name = input("\U0001F34A Enter the fruit you want to buy: ").lower()

    if item_name in fruit_shop:
        cart_items.append(item_name)
        item_quantity = int(input(f"\U0001F4E6 Enter quantity of {item_name}: "))
        quantities.append(item_quantity)
        print(f"\u2705 {item_name.title()} added successfully!\n")   # ✅
    else:
        print(f"\u274C Sorry, {item_name} is not available right now.\n")  # ❌

    repeat = input("\U0001F501 Do you want to buy something else? (y/n): ").lower()

# Display cart summary
print("\n\U0001F6D2 Your Cart Summary:")
total_amount = 0
for index in range(len(cart_items)):
    fruit = cart_items[index]
    quantity = quantities[index]
    price = fruit_shop[fruit] * quantity
    total_amount += price
    print(f"\U0001F34F {fruit.title()} × {quantity} = ₹{price}")

print(f"\n\U0001F4B0 Total Amount: ₹{total_amount}")
print("\u2728 ****** Thanks for shopping with us! ****** \u2728")

In [ ]:
a = "Hello you are good person. how are you"
print(a.title())

In [ ]:
weather  = {
    "delhi": 38,
    "mumbai": 20,
    "kolkata": 60,
    "chennai": 50,
}
#Q1
city  = input("Enter city: ").lower()
if city in weather:
    print(f"{city.title()} ==> {weather[city]}")
else:
    print("City not found")

#Q2 : sabse hot place
temp = []
cities = []
for t in weather:
    cities.append(t)
    temp.append(weather[t])
#print(cities)
#print(temp)
idx = temp.index(max(temp))
print("Very hot place")
print(f"{cities[idx].title()} ==> {max(temp)}")


#new city
weather["prayagraj"] = 27
print(weather)

# Movie Solutions

## Movies & Prices:

In [ ]:
movies = {
    "Hera Pheri": 250, 
    "Khatta Meetha": 200, 
    "Bhool Bhulaiya": 300
}

## Seats:

- Har movie ke liye 100 seats available.

## User request example:

In [ ]:
{
    "movie": "Bhool Bhulaiya",
    "seat" : 4
}

## Tasks:

- Check available seats.

- Agar available → confirm booking, update remaining seats, calculate revenue.

- Agar nahi available → print “Booking failed, not enough seats”.

In [ ]:
movies = {
    "Hera Pheri": 250, 
    "Khatta Meetha": 200, 
    "Bhool Bhulaiya": 300
}
totalSeat = 100
booking = {}

print('Available seats: ', totalSeat)
m = input("Enter the movie name: ").lower()
s = 0
booking["movie"] = m
booking["seat"] = s

while totalSeat>0:
print('Available seats: ', totalSeat)
    for movie in movies:
        if m==movie.lower():
            s = int(input("Enter the seats: "))
            if totalSeat > s:
                print("BookingConfirm!!")
                totalSeat = totalSeat - s
                break
            else:
                print("Booking failed, not enough seats")
                break
    else:
        print("Booking failed, movie not available")
print("HouseFull")

In [ ]:
sc= {
    "UP" : "Lucknow",
    "Bihar" : "Patna",
    "Jharkhand" : "Ranchi",
}
print(sc.keys())
print(sc.values())

sc.pop("UP")
print(sc)
print(sc.popitem())
print(sc)
sc.clear()
print(sc)

In [ ]:
#sorting dict
movie = {
    "a" : 3,
    "d": 2,
    "c" : 6,
    "g":8
}
m = list(movie.keys())
m.sort()
print(m)

for i in m:
    print(f"{i} : {movie[i]}")

In [ ]:
cat = {
    "name": "Domestic cat",
    "age": 4,
    "eat": True,
    "fly": False,
}
cat.setdefault("voice","meow meow")
#agar key hoga to change  nhi karega
#nhi hoga too bana dega



cat["age"] =  6
#agar key hoga to change  kar dega
#nhi hoga too bana dega
print(cat)

In [ ]:
cat1 = {
    "name": "Domestic cat",
    "age": 4,
    "eat": True,
    "fly": False,
}

cat2 = cat1.copy()
cat1["age"] = 10
cat2["name"] = "Persian cat"
print(cat1)
print(cat2)

In [ ]:
d1 = {
    "a":1,
    "b": 2
}
d2 = {
    "c":3,
    "d":4
}
d1.update(d2)
print(d1)

In [ ]:
d = {i: i**3 for i in range(1,11)}
print(d)

In [ ]:
d1 = {
    "a" : 1,
    "b" : 2
}
d2 = {
    "c":3,
    "d":4
}
#d1.update(d2)
d3 = {**d1,**d2}
print(d3)

# Finding the mean

In [26]:
marks = {
    "hindi": 84,
    "english": 75,
    "math" : 50,
    "science" : 90,
    "Social Science": 40,
    "Saskrit": 61
}
sumOfMarks = sum(marks.values())
avg = sumOfMarks/len(marks)
print(f"Average: %0.2f "%avg)

Average: 66.67

In [29]:
import statistics
marks = {
    "hindi": 84,
    "english": 75,
    "math" : 50,
    "science" : 90,
    "Social Science": 40,
    "Saskrit": 61
}

mean = statistics.mean(marks.values())
print(f"%0.2f" %mean)

20.00